{% extends 'base.html.twig' %}

{% block title %}{% trans %}Team{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Team{% endtrans %}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}NbPerson{% endtrans %}</th>
                <td>{{ team.nbPerson }}</td>
            </tr>
            <tr>
                <th>Numéro de dossard</th>
                <td>{{ team.idReference }}</td>
            </tr>
            <tr>
                <th>{% trans %}Color{% endtrans %}</th>
                <td>{{ team.color }}</td>
            </tr>
            <tr>
                <th>{% trans %}Guest{% endtrans %}</th>
                <td>{{ team.guest ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('team_index') }}">{% trans %}back to list{% endtrans %}</a>

    <a href="{{ path('team_edit', {'id': team.id}) }}">{% trans %}edit{% endtrans %}</a>

    {{ include('team/_delete_form.html.twig') }}
{% endblock %}
