{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Timing list</h1>

<div id="team-racer-predictions">
{% for team in teams %}
    <p id="prediction-team-{{ team.id }}">...</p>
{% endfor %}
</div>


    <table data-datatable-sorting-col="0" data-datatable-sorting-type="desc" class="records_list table table-hover table-condensed table-stripped">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Timing{% endtrans %}</th>
                <th>{% trans %}Clock{% endtrans %}</th>
                <th>{% trans %}Createdat{% endtrans %}</th>
                <th>{% trans %}Since{% endtrans %}</th>
                <th>{% trans %}Isrelay{% endtrans %}</th>
                <th>{% trans %}IdRacer{% endtrans %}</th>
                <th>{% trans %}IdTeam{% endtrans %}</th>
                <th>position</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('timing_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.timing|date('i:s') }}</td>
                <td>{{ entity.clock|date('Y-m-d H:i:s') }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td></td>
                <td>{{ entity.isRelay ? '1' : '0' }}</td>
                <td><a href="{{ path('racer_show', { 'id': entity.idRacer.id }) }}">{{ entity.idRacer.nickname }}</a></td>
                <td class="team-color-grad-{{ entity.idRacer.idTeam.id }}"><a href="{{ path('team_show', { 'id': entity.idRacer.idTeam.id }) }}">{{ entity.idRacer.idTeam.name }}</a></td>
                <td>{{ entity.idRacer.position }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('timing_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('timing_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('timing_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function() {
{% for team in teams %}
    $.getJSON('{{ path('timing_next', { 'id': team.id }) }}', function(data) {
        console.log(data);
        s = "Team {{ team.name }}: " + data.nickname + " (" + data.firstname  + " " + data.lastname + ")";
        $('#prediction-team-{{ team.id }}').html(s);
    }).fail(function() {
        $("#prediction-team-{{ team.id }}").html('Impossible de fournir des prédictions. Aucun tour n\'a encore été fait');
    });
{% endfor %}
});
</script>
{% endblock %}
