{% extends '::base.html.twig' %}

{% block body -%}

<h1>Statut</h1>

{#
<div class="row">
{% for team in teams %}
    <div class="col-xs-6 col-sm-3 team-color-grad-{{ team.id }}">
        <div class="timing-status-teams" id="timing-status-team-{{ team.id }}">Statut de {{ team.name }}</div>
        <div id="timing-manual-team-{{ team.id }}">
            <select class="team-racer-manual-selector" name="team-{{ team.id }}-racer-id">
                <option></option>
{% for racer in team.racers %}
                <option value="racer.id">
                    {{ racer.nickname }}
                </option>
{% endfor %}
            </select>
            <button class="btn btn-primary">Ajouter un tour</button>
        </div>
    </div>
{% endfor %}
</div>
#}

<div class="">
<table class="table table-condensed table-stripped table-bordered table-hover">
    <thead>
        <tr>
            <th>Fini</th>
            <th>Fini</th>
            <th>Vient de finir</th>
            <th><span id="remains"></span></th>
            <th>Sur la piste</th>
            <th>Doit se préparer</th>
            <th>A encore le temps</th>
            <th>--</th>
            <th>--</th>
        </tr>
    </thead>
    <tbody id="racers-prevision">
{% for team in teams %}
        <tr class="timing-status-teams" id="timing-status-team-{{ team.id }}">
            <td colspan="9" class="team-bg-color-{{ team.id }}">Chargement en cours</td>
        </tr>
{% endfor %}
    </tbody>
</table>
</div>

<div style="display: none;">
{% for team in teams %}
    <div id="selector-team-{{ team.id }}">
        <select class="team-racer-manual-selector" name="team-{{ team.id }}-racer-id">
            <option>Changer de coureur</option>
{% for racer in team.racers %}
            <option value="{{ racer.id }}">{{ racer.nickname }}</option>
{% endfor %}
        </select>
    </div>
{% endfor %}

</div>
{% endblock %}


{% block javascripts %}
<script type="text/javascript" src="{{ asset('jqcountdown/jquery.plugin.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('jqcountdown/jquery.countdown.js') }}"></script>

<script>
$(document).ready(function() {
    loadTeam = function(selector, url) {
        $selector = $(selector);
        $selector.find('.clock').countdown('destroy');
        $selector.load(url, function() {
            $this = $(this);
            $clock = $this.find('.clock');

            var clockOptions = {
                compact: true
            }
            var arrival = new Date($clock.data('arrival'));

            if(arrival < new Date()) {
                /**
                 * il est déjà censé être arrivé
                 */
                clockOptions.since = arrival;
            } else {
                /**
                 * pas encore arrivé
                 */
                clockOptions.until = arrival;
            }
            $clock.countdown(clockOptions);
        });
    }
{% for team in teams %}
    //initialDataSelector = $('#timing-status-team-{{ team.id }} td');
    //initialData = initialDataSelector.html();
    loadTeam("#timing-status-team-{{ team.id }}", "{{ path('timing_status_team', { 'id': team.id }) }}");
    setInterval(function() {
        //initialDataSelector.html(initialData);
        loadTeam("#timing-status-team-{{ team.id }}", "{{ path('timing_status_team', { 'id': team.id }) }}");
    }, 30000);

{% endfor %}

    remains = $('#remains');
    disableButtons = function(periods) {
        console.log($.countdown.periodsToSeconds(periods));
        if($.countdown.periodsToSeconds(periods) === 10) {
            console.log('errors');
            $('#racers-prevision button').hide(); //addClass('btn-error');
        }
    }

    setCountdown = function() {
        remains.countdown('destroy');
        remains.countdown({
            until: '+30',
            compact: true,
            format: 'MS',
            onTick: disableButtons
        });
    }
    setInterval(setCountdown, 30000);
    setCountdown();

    racerPrevisons = $('#racers-prevision');
    racerPrevisons.on('click', 'button.prediction-changer', function() {
        $button = $(this);
        $parent = $button.parent();
        $teamId = $button.data('team-id');
        $racerId = $button.data('racer-id');
        $select = $('#selector-team-' + $teamId + ' select');
        //if(!$select) {
        //    console.log('unable to find select ...');
        //}
        $parent.append($select);
        $parent.find('select option[value=' + $racerId + ']').attr('selected', 'selected');
    });
    racerPrevisons.on('change', 'select.team-racer-manual-selector', function() {
        $select = $(this);
        $selectedRacerId = $select.val();
        $button = $select.parent().find('button');
        $pos = $button.data('prediction-pos');
        postData = [];
        $teamId = $button.data('team-id');
        postData.push({
            racerid: $selectedRacerId,
            pos: $pos
        });
        $select.parent().prevUntil(
            document.getElementById('separator-' + $teamId),
            'td'
        ).each(function(index) {
            $td = $(this);
            $button = $td.find('button');
            $racerId = $button.data('racer-id');
            $position = $button.data('prediction-pos');
            postData.push({
                racerid: $racerId,
                pos: $position
            });
        });


        //console.log(postData);
        $.post(
            '{{ path("timing_update_prediction") }}',
            { data: postData, teamId: $teamId },
            function(data, textStatus, jqXHR) {
                window.location = window.location;
            }
        );
    });
    //$('.team-racer-manual-selector').selectmenu();
});
</script>
{% endblock %}

{% block stylesheets %}
<link rel="{{ asset('jqcountdown/jquery.countdown.css') }}" />
{% endblock %}
