
{% block body -%}

<p>now: {{ "now"|date('H:i:s') }}</p>
    <p>Timing for <a href="{{ path('team_show', { 'id': timingData.team.id }) }}">{{ timingData.team.name }}</a></p>
    <ul>
        <li>clock: {{ timingData.clock|date('Y-m-d H:i:s') }}</li>
        <li>en train d'arriver: <a href="{{ path('racer_show', { 'id': timingData.racer.id }) }}">{{ timingData.racer.nickname }}</a></li>
        <li>Arrival: {{ timingData.arrival|date('Y-m-d H:i:s') }}</li>
        <li>delta: {{ timingData.delta.format('%R %H:%I:%S') }}</li>
        <li
            data-arrival="{{ timingData.arrival|date('c') }}"
            class="clock"
            id="clock-team-{{ timingData.team.id }}"
        ></li>
    </ul>

{% endblock %}


