
{% block body -%}

{# previous racers #}
{% for p in previous %}
<td class="col-md-1">
{%- if p -%}
<ul class="list-unstyled">
    <li>
        <button
            title="Changer le coureur - Ce n'était pas {{ p.idRacer.nickname }}"
            id="previous-team-{{ team.id }}-pos-{{ loop.index }}"
            class="btn btn-primary btn-sm previous-changer"
            data-type="timing"
            data-racer-id="{{ p.idRacer.id }}"
            data-team-id="{{ team.id }}"
            data-timing="{{ p.id }}">{{ p.idRacer.nickname }}</button>
{% if 2 == loop.index0 %}
        <button title="Annuler le départ"
            id="previous-team-{{ team.id }}-pos-{{ loop.index }}-remove"
            class="btn btn-default btn-xs previous-remove"
            data-type="timing"
            data-racer-id="{{ p.idRacer.id }}"
            data-team-id="{{ team.id }}"
            data-timing="{{ p.id }}"><span class="glyphicon glyphicon-remove"></span></button>

{% endif %}
    </li>
    <li>Arrived: {{ p.clock|date('H:i:s') }}</li>
    <li>Lap: {{ p.timing|date('H:i:s') }}</li>
</ul>
{%- else -%}
    --
{%- endif -%}
</td>
{% endfor %}

{# separator #}
<td id="separator-{{ team.id }}" class="col-md-1 team-bg-color-{{ team.id }} timing-separator">
<p><a href="{{ path('team_show', {'id': team.id }) }}">{{ team.name }}</a></p>
</td>

{# next racers #}
{% for racer in racers %}
<td class="col-md-1">
<ul class="list-unstyled">
    <li>
        <div class="btn-group">
            <button
                title="Changer le coureur - Ce n'est pas {{ racer.nickname }} qui tourne"
                id="prediction-team-{{ team.id }}-pos-{{ loop.index }}"
                class="btn btn-primary btn-sm prediction-changer dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                data-racer-id="{{ racer.id }}"
                data-team-id="{{ team.id }}"
                data-timing="{{ predictions[loop.index0].id }}"
            >
                {{ racer.nickname }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
            {%- for racer in team.racers -%}
                <li><a data-racerid="{{ racer.id }}" class="team-racer-manual-selector" href="#">{{ racer.nickname }}{% if racer.paused %} <span class="glyphicon glyphicon-remove"></span> (zzz){% endif %}</a></li>
            {%- endfor -%}
            </ul>
        </div>
{% if 0 == loop.index0 %}
        <button
            title="Forcer la fin de tour - {{ racer.nickname }} a fini son tour"
            id="manual-team-{{ team.id }}"
            class="btn btn-warning btn-ms add-manual"
            data-racer-id="{{ racer.id }}"
            data-team-id="{{ team.id }}"
            data-timing="{{ predictions[loop.index0].id }}"><span class="glyphicon glyphicon-play-circle"></span>
        </button>
{% endif %}
    </li>
    {% if loop.index0 == 0 %}
    <li>Arrivée: {{ arrival|date('H:i:s') }}</li>
    {#<li>delta: {{ delta.format('%R %H:%I:%S') }}</li>#}
    <li
            data-arrival="{{ arrival|date('c') }}"
            class="clock"
            id="clock-team-{{ team.id }}"
        ></li>
    {% endif %}
</ul>
</td>
{% endfor %}


{% endblock %}
