{% extends '::base.html.twig' %}

{% block body -%}

<h1>Statut</h1>

<div class="row">
{% for team in teams %}
    <div class="col-xs-6 col-sm-3 team-color-grad-{{ team.id }}">
        <div class="timing-status-teams" id="timing-status-team-{{ team.id }}">Statut de {{ team.name }}</div>
    </div>
{% endfor %}
</div>
{% endblock %}


{% block javascripts %}
<script type="text/javascript" src="{{ asset('jqcountdown/jquery.plugin.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('jqcountdown/jquery.countdown.js') }}"></script>

<script>
$(document).ready(function() {
    loadTeam = function(selector, url) {
        $selector = $(selector);
        $selector.find('.clock').countdown('destroy');
        $selector.load(url, function() {
            $this = $(this);
            $clock = $this.find('.clock');

            var clockOptions = {
                compact: true
            }
            var arrival = new Date($clock.data('arrival'));

            if(arrival < new Date()) {
                /**
                 * il est déjà censé être arrivé
                 */
                clockOptions.since = arrival;
            } else {
                /**
                 * pas encore arrivé
                 */
                clockOptions.until = arrival;
            }
            $clock.countdown(clockOptions);
        });
    }
{% for team in teams %}
    loadTeam("#timing-status-team-{{ team.id }}", "{{ path('timing_status_team', { 'id': team.id }) }}");
    setInterval(function() {
        loadTeam("#timing-status-team-{{ team.id }}", "{{ path('timing_status_team', { 'id': team.id }) }}");
    }, 30000);

{% endfor %}
});
</script>
{% endblock %}

{% block stylesheets %}
<link rel="{{ asset('jqcountdown/jquery.countdown.css') }}" />
{% endblock %}
