{% extends '::base.html.twig' %}

{% block body -%}

<h1>Statut</h1>

{% for team in teams %}
    <div class="timing-status-teams" id="timing-status-team-{{ team.id }}">Statut de {{ team.name }}</div>
{% endfor %}

{% endblock %}


{% block javascripts %}
<script type="text/javascript" src="{{ asset('jqcountdown/jquery.plugin.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('jqcountdown/jquery.countdown.js') }}"></script>

<script>
$(document).ready(function() {
    loadTeam = function(selector, url) {
        $selector = $(selector);
        $selector.find('.clock').countdown('destroy');
        $selector.load(url, function() {
            //console.log(this, $(this));
            $this = $(this);
            $clock = $this.find('.clock');
            //console.log('clock', $clock);
            //console.log('clock data', $clock.data('until'));
            var clockOptions = {
                compact: true
            }
            var arrival = new Date($clock.data('arrival'));

            if(arrival < new Date()) {
                /**
                 * il est déjà censé être arrivé
                 */
                clockOptions.since = arrival;
            } else {
                /**
                 * pas encore arrivé
                 */
                clockOptions.until = arrival;
            }
            $clock.countdown(clockOptions);
            //console.log(clockOptions);
            //console.log('clock is activated');
        });
    }
{% for team in teams %}
    loadTeam("#timing-status-team-{{ team.id }}", "{{ path('timing_status_team', { 'id': team.id }) }}");
    setInterval(function() {
        //console.log('loading from interval');
        loadTeam("#timing-status-team-{{ team.id }}", "{{ path('timing_status_team', { 'id': team.id }) }}");
    }, 30000);

{% endfor %}
});
</script>
{% endblock %}

{% block stylesheets %}
<link rel="{{ asset('jqcountdown/jquery.countdown.css') }}" />
{% endblock %}
