{% extends 'base.html.twig' %}

{% block body -%}
    <h1>{% trans %}Ranking{% endtrans %}</h1>

    <table class="record_properties table table-cendensed table-hover table-stripped">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Position{% endtrans %}</th>
                <td>{{ entity.position }}</td>
            </tr>
            <tr>
                <th>{% trans %}Createdat{% endtrans %}</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{% trans %}Time{% endtrans %}</th>
                <td>{{ entity.time|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>{% trans %}Tour{% endtrans %}</th>
                <td>{{ entity.tour }}</td>
            </tr>
            <tr>
                <th>{% trans %}Ecart{% endtrans %}</th>
                <td>{{ entity.ecart|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>{% trans %}Distance{% endtrans %}</th>
                <td>{{ entity.distance }}</td>
            </tr>
            <tr>
                <th>{% trans %}Speed{% endtrans %}</th>
                <td>{{ entity.speed }}</td>
            </tr>
            <tr>
                <th>{% trans %}Bestlap{% endtrans %}</th>
                <td>{{ entity.bestlap|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>{% trans %}Poscat{% endtrans %}</th>
                <td>{{ entity.poscat }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ranking') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('ranking_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
