<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bootstrap/css/bootstrap.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div id="menu">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('homepage') }}">Index</a></li>
                <li><a href="{{ path('racer') }}">Racer</a></li>
                <li><a href="{{ path('team') }}">Team</a></li>
                <li><a href="{{ path('pause') }}">Pause</a></li>
                <li><a href="{{ path('timing') }}">Timing</a></li>
            </ul>
            </div>
{% block body %}{% endblock %}
        </div> <!-- end row fluid -->
    </div> <!-- container-fluid -->
    {% block javascripts %}{% endblock %}

<script type="text/javascript" src="{{ asset('bundles/jquery-extra/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>
