{% extends 'base.html.twig' %}

{% block title %}Racer index{% endblock %}

{% block body %}
    <h1>Racer index</h1>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filter by team
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item {{ selected == 0 ? "active" : "" }}" href="{{ path('racer_index') }}">All teams</a></li>
{% for team in teams %}
        <li><a class="dropdown-item {{ selected == team.id ? "active" : "" }}" href="{{ path('racer_index_by_team', { 'id': team.id }) }}">{{ team }}</a></li>
{% endfor %}
    </ul>
</div>
    <table class="table records_list table-condensed table-stripped table-bordered table-hover table-datatable table-reorder" data-datatable-sorting-col="4,8">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Nickname</th>
                <th>Team</th>
                <th>TimingMin</th>
                <th>TimingMax</th>
                <th>TimingAvg</th>
                <th>Position</th>
                <th>Paused</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for racer in racers %}
            <tr data-racerid="{{ racer.id }}">
                <td class="racer-id">{{ racer.id }}</td>
                <td class="racer-firstname">{{ racer.firstname }}</td>
                <td class="racer-lastname">{{ racer.lastname }}</td>
                <td class="racer-nickname">{{ racer.nickname }}</td>
                <td class="racer-team" class="team-color-grad-{{ racer.team.id }}"><a href="{{ path('team_show', {'id': racer.team.id }) }}">{{ racer.team }}</a></td>
                <td class="racer-timing-min">{{ racer.timingMin ? racer.timingMin|date('H:i:s') : '' }}</td>
                <td class="racer-timing-max">{{ racer.timingMax ? racer.timingMax|date('H:i:s') : '' }}</td>
                <td class="racer-timing-avg">{{ racer.timingAvg ? racer.timingAvg|date('H:i:s') : '' }}</td>
                <td class="racer-position">{{ racer.position }}</td>
                <td class="racer-paused">{{ racer.paused ? 'Yes' : 'No' }}</td>
                <td class="racer-action">
                    <a href="{{ path('racer_show', {'id': racer.id}) }}">show</a>
                    <a href="{{ path('racer_edit', {'id': racer.id}) }}">edit</a>
                    {% if selected %}<button type="button" class="btn btn-secondary"><i class="bi bi-arrow-down-up"></i></button>{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('racer_new') }}">Create new</a>

{% endblock %}

{% block stylesheets %}
{% include "datatables/css.twig" %}
{% endblock %}
{% block javascripts_end %}
{% include "datatables/js.twig" %}
{% endblock %}
