{% extends 'base.html.twig' %}

{% block title %}{% trans %}Racer index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Racer index{% endtrans %}</h1>

</div>
    <table class="table records_list table-condensed table-stripped table-bordered table-hover table-datatable" data-datatable-sorting-col="1,2">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Team{% endtrans %}</th>
                <th>{% trans %}Position{% endtrans %}</th>
                <th>{% trans %}Firstname{% endtrans %}</th>
                <th>{% trans %}Lastname{% endtrans %}</th>
                <th>{% trans %}Nickname{% endtrans %}</th>
                <th>{% trans %}TimingMin{% endtrans %}</th>
                <th>{% trans %}TimingMax{% endtrans %}</th>
                <th>{% trans %}TimingAvg{% endtrans %}</th>
                <th>{% trans %}Paused{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>

        <tbody>
        {% for racer in racers %}
            <tr data-racerid="{{ racer.id }}">
                <td class="racer-id">{{ racer.id }}</td>
                <td class="racer-team" class="team-color-grad-{{ racer.team.id }}"><a href="{{ path('team_show', {'id': racer.team.id }) }}">{{ racer.team }}</a></td>
                <td class="racer-position">{{ racer.position }}</td>
                <td class="racer-firstname">{{ racer.firstname }}</td>
                <td class="racer-lastname">{{ racer.lastname }}</td>
                <td class="racer-nickname">{{ racer.nickname }}</td>
                <td class="racer-timing-min">{{ racer.timingMin ? racer.timingMin|date('H:i:s') : '' }}</td>
                <td class="racer-timing-max">{{ racer.timingMax ? racer.timingMax|date('H:i:s') : '' }}</td>
                <td class="racer-timing-avg">{{ racer.timingAvg ? racer.timingAvg|date('H:i:s') : '' }}</td>
                <td class="racer-paused">{{ racer.paused ? 'Yes' : 'No' }}</td>
                <td class="racer-action">
                    <a href="{{ path('racer_show', {'id': racer.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('racer_edit', {'id': racer.id}) }}">{% trans %}edit{% endtrans %}</a>
                    {% if selected %}<button type="button" class="btn btn-secondary"><i class="bi bi-arrow-down-up"></i></button>{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('racer_new') }}">{% trans %}Create new{% endtrans %}</a>

{% endblock %}

{% block stylesheets %}
{% include "datatables/css.twig" %}
{% endblock %}
{% block javascripts_end %}
{% include "datatables/js.twig" %}
{% endblock %}
