{% extends 'base.html.twig' %}

{% block title %}Racer{% endblock %}

{% block body %}
    <h1>Racer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ racer.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ racer.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ racer.lastname }}</td>
            </tr>
            <tr>
                <th>Nickname</th>
                <td>{{ racer.nickname }}</td>
            </tr>
            <tr>
                <th>TimingMin</th>
                <td>{{ racer.timingMin ? racer.timingMin|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>TimingMax</th>
                <td>{{ racer.timingMax ? racer.timingMax|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>TimingAvg</th>
                <td>{{ racer.timingAvg ? racer.timingAvg|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ racer.position }}</td>
            </tr>
            <tr>
                <th>Paused</th>
                <td>{{ racer.paused ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('racer_index') }}">back to list</a>

    <a href="{{ path('racer_edit', {'id': racer.id}) }}">edit</a>

    {{ include('racer/_delete_form.html.twig') }}
{% endblock %}
