{% extends "::base.html.twig" %}

{% block body %}

{% if not timings %}
<p>Aucune donnée à afficher</p>
{% else %}
<div id="chart" width="400" height="400"></div>
{% endif %}

{% endblock %}


{% block javascripts %}
<script src="{{ asset('highcharts/js/highcharts.js') }}"></script>
<script>
$(document).ready(function() {
    chart = $('#chart');
    options = {
        chart: {
            type: 'spline',
        },
        title: {
            text: "Chronos de {{ racer.firstname }} {{ racer.lastname }} ({{ racer.nickname }})",
        },
        xAxis: {
            title: {
                text: "Heure"
            },
            type: "datetime",
        },
        yAxis: {
            title: {
                text: 'Temps au tour'
            },
            //type: "datetime",
            {#//min: Date.parse("{{ timings[0].createdAt|date('Y-m-d H:i:s') }}"),#}
            min: 0,
            tickInterval: 30,
            labels: {
                formatter: function() {
                    nbSeconds = this.value;
                    minutes = parseInt(nbSeconds / 60);
                    seconds = nbSeconds % 60;
                    //return minutes + " min " + seconds + " secondes";
                    return minutes + ":" + seconds;
                }
            },
            dateTimeLabelFormats: {
                millisecond: '%H:%M:%S',
                second:      '%H:%M:%S',
                minute:      '%H:%M:%S',
                hour:        '%H:%M:%S',
                day:         '%H:%M:%S',
                week:        '%H:%M:%S',
                month:       '%H:%M:%S',
            }
        },

        plotOptions: {
            spline: {
                marker: {
                    enabled: true
                }
            }
        },

        series: [{
            name: "foo",
            data: [
{% for timing in timings %}
                [
                    Date.parse("{{ timing.createdAt|date('Y-m-d H:i:s') }}"),
                    {{ timing.timingToSec }}
                ],
{% endfor %}
            ]
        }]
    };
    chart.highcharts(options);
});
</script>
{% endblock %}
