

    <table class="record_properties table table-condensed table-stripped table-hover">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td class="timing-edit-id">{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Timing{% endtrans %}</th>
                <td class="timing-edit-timing">{{ entity.timing|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>{% trans %}Createdat{% endtrans %}</th>
                <td class="timing-edit-createdAt">{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{% trans %}Isrelay{% endtrans %}</th>
                <td class="timing-edit-isRelay">{{ entity.isRelay }}</td>
            </tr>
            <tr>
                <th>{% trans %}Clock{% endtrans %}</th>
                <td class="timing-edit-clock">{{ entity.clock|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{% trans %}IdRacer{% endtrans %}</th>
                <td class="timing-edit-idRacer">{% if entity.racer %}
                    <a href="{{ path('racer_show', { 'id': entity.racer.id }) }}">{{ entity.racer.nickname }}</a>
                {% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}Type{% endtrans %}</th>
                <td>{{ entity.type }}</td>
            </tr>
        </tbody>
    </table>
