{% extends 'base.html.twig' %}

{% block body %}

<div>
<p>{% trans %}Liste des thèmes{% endtrans %}</p>
<ul id="theme-list">
{% for theme, css_link in css_list %}
    <li><a data-css="{{ css_link }}" href="{{ path('css_set', { 'name': theme }) }}">{{ theme }} {{ theme == current_theme ? "(current)" : "" }}</a></li>
{% endfor %}
</ul>
</div>

<div>
<p>{% trans %}Préférence d'affichage dans la liste des équipes{% endtrans %}:
<ul>
    <li>{% trans %}Nombre de coureurs arrivés{% endtrans %}:
{% for i in [1, 2, 3, 4] %}
        <a class="btn btn-{{ nb_after == i ? '' : 'outline-' }}{{ i == 3 ? 'primary' : 'secondary' }}" href="{{ path('settings_status_list_team_after', { nb: i }) }}">{{ i }}{% if nb_after == i %} (current){% endif %}</a>{{ loop.last ? "" : "," }}
{% endfor %}
    </li>
    <li>{% trans %}Nombre de coureurs en préparation{% endtrans %}:
{% for i in [1, 2, 3, 4, 5] %}
        <a class="btn btn-{{ nb_before == i ? '' : 'outline-' }}{{ i == 5 ? 'primary' : 'secondary' }}" href="{{ path('settings_status_list_team_before', { nb: i }) }}">{{ i }}{% if nb_before == i %} (current){% endif %}</a>{{ loop.last ? "" : "," }}
{% endfor %}
    </li>
</ul>
</div>

<div>
<p>{% trans %}Affichage des teams{% endtrans %}</p>
<ul>
    <li><a href="{{ path('settings_team_filter', { id: 0 }) }}">{% trans %}Toutes les teams{% endtrans %}{% if team_filter == 0 %} (current){% endif %}</a></p>
{% for team in teams%}
    <li><a href="{{ path('settings_team_filter', { id: team.id }) }}">Team {{ team.name }}{% if team_filter == team.id %} (current){% endif %}</a></p>
{% endfor %}
</ul>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
/*
var defaultTheme;
var cssLink;
themeListItemIn = function(eventObject)
{
    cssLink.attr('href', $(eventObject.target).data('css'));
    //cssLink.val('href'
}

themeListItemOut = function(eventObject)
{
    cssLink.attr('href', defaultTheme);
}

$(document).ready(function()
{
    cssLink = $("head link[data-theme=theme]")
    defaultTheme = cssLink.attr('href');

    $("#theme-list a").hover(themeListItemIn, themeListItemOut);
});*/
</script>
{% endblock %}
