
<tr>
    <td class="team-color-grad-{{ team.id }}"><a href="{{ path('team_show', { 'id': team.id }) }}">{{ team.id }}</a></td>
    <td><a href="{{ path('team_show', { 'id': team.id }) }}">{{ team.name }}</a></td>
    <td>{{ team.nbHeurePause }}</td>
    <td>{{ team.nbPerson }}</td>
    <td class="team-bg-color-{{ team.id }}">&nbsp;</td>
    <td>{{ team.idReference }}</td>
    <td>
    <ul>
        <li>
            <a href="{{ path('team_show', { 'id': team.id }) }}">show</a>
        </li>
        <li>
            <a href="{{ path('team_edit', { 'id': team.id }) }}">edit</a>
        </li>
        <li>
            <a href="{{ path('team_pauses', { 'id': team.id }) }}">Pauses</a>
        </li>
        <li>
            <a href="{{ path('team_rotation', { 'id': team.id }) }}">Rotations</a>
        </li>
        <li>
            <a href="{{ path('prediction_index', { 'id': team.id }) }}">Predictions</a>
        </li>
    </ul>
    </td>
</tr>
