{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Team</h1>

    <table class="record_properties table table-condensed table-stripped table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Nbheurepause</th>
                <td>{{ entity.nbHeurePause }}</td>
            </tr>
            <tr>
                <th>Nbperson</th>
                <td>{{ entity.nbPerson }}</td>
            </tr>
            <tr>
                <th>Idreference</th>
                <td>{{ entity.idReference }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td style="background-color: {{ entity.color }};">&nbsp;</td>
            </tr>
            <tr>
                <th>Invité</th>
                <td>{{ entity.guest }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('team') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('team_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <a href="{{ path('team_pauses', { 'id': entity.id }) }}">Pauses</a>
    </li>
    <li>
        <a href="{{ path('team_rotation', { 'id': entity.id }) }}">Rotations</a>
    </li>
    <li>
        <a href="{{ path('prediction_index', { 'id': entity.id }) }}">Predictions</a>
    </li>
    <li>
        <a href="{{ path('stats_team', { 'id': entity.id }) }}">Statistique</a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

<table class="records_list table table-condensed table-stripped table-bordered table-hover table-datatable" data-datatable-sorting-col="4">
    <thead>
        {% include "AppBundle:Racer:header.html.twig" %}
    </thead>
    <tfoot>
        <td colspan="4">&nbsp;</td>
        <td>
            <div>
                <form id="reorder" method="post" action="{{ path('racer_order') }}">
                    <button class="first-hidden btn btn-primary" type="submit">Valider</button>
                </form>
            </div>
        </td>
        <td colspan="4">&nbsp;</td>

    </tfoot>
    <tbody class="sortable">
    {% for racer in racers %}
        {% include "AppBundle:Racer:line.html.twig" with {"racer": racer } %}
    {% endfor %}
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="uiPosition" tabindex="-1" role="dialog" aria-labelledby="uiPositionSavedLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="uiPositionSavedLabel">Gestion des positions dans l'équipe</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}
<script>
$(document).ready(function() {
    $('button.first-hidden').hide();

    $('#reorder').submit(function(event) {
        console.log('got submit');
        event.preventDefault();
        var orderData = []
        tbody.find('tr').each(function(index) {
            $tr = $(this);
            racerId = $tr.find('td.racer-id').data('racerid');
            console.log('treating racer id ' + racerId);

            tdPosition = $tr.find('td.position');
            newpos = tdPosition.data('newpos');
            if(newpos != '') {
                console.log('pos for ' + racerId + ' is now ' + newpos);
                orderData[racerId] = newpos;
            }
        });
        console.log(orderData.length == 0);

        if(orderData.length === 0) {
            return;
        }
        postData = [];
        postData['order'] = orderData;

        $.post(this.action, {'order': orderData}, function(data) {
            ui = $('#uiPosition');
            ui.find('.modal-body').html(data.data);
            ui.modal();
        }).fail(function(jqXHR, textStatus, errorThrown) {
            ui = $('#uiPosition');
            ui.find('.modal-body').html($.parseJSON(jqXHR.responseText).data);
            ui.find('button').removeClass('btn-default').addClass('btn-danger');
            ui.modal();
        })
    });
    tbody = $(".sortable");
    tbody.sortable({
        axis: "y",
        stop: function(event, ui) {

            $('button.first-hidden').show();
            tbody.find('td.position').each(function(index) {
                $this = $(this);
                currentIndex = $this.data('position');
                newIndex = index + 1;
                if(currentIndex != newIndex) {
                    $this.addClass('danger')
                    $this.data('newpos', newIndex);
                    content = newIndex + ' <span class="overline">(' + currentIndex + ')</span>';
                    if(newIndex > currentIndex) {
                        glyph = 'glyphicon-arrow-down';
                    } else {
                        glyph = 'glyphicon-arrow-up';
                    }
                    content += ' <span class="glyphicon ' + glyph + '"></span>';
                    $this.html(content);
                }
            });
        }
    });
});
</script>
{% endblock %}
