<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Gestion des relais{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

      <link rel="stylesheet" href="/extra/datatables/datatables.min.css" />
      <link rel="stylesheet" href="/css/app.css" />
      <link rel="stylesheet" href="/teams.css" />

{#
    those files must not be in the stylesheet function,
    as relative files won't work, resulting in glitches
#}

    <link rel="stylesheet" href="/extra/datatables/DataTables-1.13.8/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="/extra/jquery-ui-1.13.2.custom/jquery-ui.min.css" />
    <link rel="stylesheet" href="/extra/jquery-ui-1.13.2.custom/jquery-ui.theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/extra/bootstrap-5.3.2-dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/extra/bootstrap-icons/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.countdown.css" />
{% if app.session.get('theme') %}
        <link data-theme="theme" rel="stylesheet" type="text/css" href="{{ asset(app.session.get('theme')) }}" />
{% endif %}
    <script type="text/javascript" src="/extra/jquery-3.7.1/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/extra/jquery-3.7.1/jquery.plugin.min.js"></script>
    <script type="text/javascript" src="/extra/jquery-3.7.1/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="/extra/jquery-ui-1.13.2.custom/jquery-ui.js"></script>
    <!--<script type="text/javascript" src="/extra/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/extra/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/extra/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="/js/datatables.js"></script>
    <!--<script type="text/javascript" src="js/sprintf/dist/sprintf.min.js"></script>-->

    <!-- importmap -->
        {% block javascripts_script %}{% endblock %}
        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    <!-- end importmap -->
    </head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div id="menu">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link" href="{{ path('homepage') }}">Index</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('timing_status') }}">Timing Status</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('pause_visual') }}">Pauses</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_statistics') }}">Stats</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('settings_list') }}">Preferences</a></li>
                    <li class="nav-item" class="dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                            role="button" aria-expanded="false">
                            Admin <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('racer_index') }}">Racer</a></li>
                            <li><a class="dropdown-item" href="{{ path('team_index') }}">Team</a></li>
                            <li><a class="dropdown-item" href="{{ path('timing') }}">Timing</a></li>
                            <li><a class="dropdown-item" href="{{ path('racerpause') }}">RacerPause</a></li>
                            <li><a class="dropdown-item" href="{{ path('race_index') }}">Race</a></li>
                            <li><a class="dropdown-item" href="{{ path('pause') }}">Pause</a></li>
                            <li><a class="dropdown-item" href="{{ path('ranking') }}">Ranking</a></li>
                            {#<li><a href="{{ path('compare_list') }}">Compare</a></li>#}
                            {#<li><a href="{{ path('compare_file') }}">FileGen</a></li>#}
                        </ul>
                    </li>
                    <li class="nav-item"><span id="generalclock"></spanp></li>
                </ul>
            </div>
        </div> <!-- end row fluid -->
        <div class="row-fluid">
<!-- body -->
        {% block body %}{% endblock %}
<!-- end body -->
        </div> <!-- end row fluid -->
    </div> <!-- container-fluid -->

    <!-- javascript_end -->
    {% block javascripts_end %}{% endblock %}
    <!-- end javascript_end -->

<script type="text/javascript">
$(document).ready(function() {
    var midnight = new Date();
    midnight.setHours(0, 0, 0, 0);

    $('#generalclock').countdown({
        since: midnight,
        format: 'HMS',
        compact: true
    });
});
</script>

    </body>
</html>

