{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ranking</h1>

    <table class="record_properties table table-cendensed table-hover table-stripped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ entity.position }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ entity.time|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>Tour</th>
                <td>{{ entity.tour }}</td>
            </tr>
            <tr>
                <th>Ecart</th>
                <td>{{ entity.ecart|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ entity.distance }}</td>
            </tr>
            <tr>
                <th>Speed</th>
                <td>{{ entity.speed }}</td>
            </tr>
            <tr>
                <th>Bestlap</th>
                <td>{{ entity.bestlap|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>Poscat</th>
                <td>{{ entity.poscat }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ranking') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('ranking_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
