{% extends 'base.html.twig' %}

{% block title %}{% trans %}Race{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Race{% endtrans %}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ race.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ race.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Start{% endtrans %}</th>
                <td>{{ race.start ? race.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Km{% endtrans %}</th>
                <td>{{ race.km }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('race_index') }}">{% trans %}back to list{% endtrans %}</a>

    <a href="{{ path('race_edit', {'id': race.id}) }}">{% trans %}edit{% endtrans %}</a>

    {{ include('race/_delete_form.html.twig') }}
{% endblock %}
