{% extends 'base.html.twig' %}

{% block title %}Pause index{% endblock %}

{% block body %}
    <h1>{% trans %}Pause index{% endtrans %}</h1>

    <table class="records_list table table-condensed table-hover table-stripped table-datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Porder{% endtrans %}</th>
                <th>{% trans %}Team{% endtrans %}</th>
                <th>{% trans %}HourStart{% endtrans %}</th>
                <th>{% trans %}HourStop{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for pause in pauses %}
            <tr>
                <td>{{ pause.id }}</td>
                <td>{{ pause.porder }}</td>
                <td class="team-color-grad-{{ pause.team.id }}">{{ pause.team }}</td>
                <td>{{ pause.hourStart ? pause.hourStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ pause.hourStop ? pause.hourStop|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('pause_show', {'id': pause.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('pause_edit', {'id': pause.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pause_new') }}">{% trans %}Create new{% endtrans %}</a>
{% endblock %}


{% block stylesheets %}
{% include "datatables/css.twig" %}
{% endblock %}
{% block javascripts_end %}
{% include "datatables/js.twig" %}
{% endblock %}
